Checks: >-
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-core.StackAddressEscape,
  -performance-enum-size,
  -performance-unnecessary-copy-initialization,
  -portability-avoid-pragma-once,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
WarningsAsErrors: '*'
HeaderFilterRegex: '^.*/solcorp/(src|test)/.*'
FormatStyle: file