Checks: >-
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-core.StackAddressEscape,
  -bugprone-narrowing-conversions,
  -bugprone-macro-parentheses,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-multi-level-implicit-pointer-conversion,
  -performance-move-const-arg,
  -performance-enum-size,
  -performance-unnecessary-value-param,
  -performance-unnecessary-copy-initialization,
  -portability-avoid-pragma-once,
  -modernize-return-braced-init-list,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -modernize-use-nodiscard,
  -modernize-pass-by-value,
  -modernize-use-override,
  -modernize-avoid-c-arrays,
  -modernize-use-designated-initializers,
  -modernize-use-integer-sign-comparison,
  -modernize-use-ranges,
  -modernize-redundant-void-arg,
  -readability-identifier-length,
WarningsAsErrors: '*'
HeaderFilterRegex: '^.*/solcorp/(src|test)/.*'
FormatStyle: file